@model IEnumerable<Triunfo.Core.Domain.Pqr>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Manejo de Pqrs</h1>

<p style="text-align:right">
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mensaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSolicitudNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mensaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDocumentoNavigation.ValorStringDetParametro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSolicitudNavigation.IdDetParametro)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdPqr">Details</a> |
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdPqr">Edit</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdPqr">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
