@model Triunfo.Core.Domain.DetalleParametro

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DetalleParametro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorNumDetParametro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorNumDetParametro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorStringDetParametro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorStringDetParametro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionDetParametro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionDetParametro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoDetParametro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoDetParametro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdParametroNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdParametroNavigation.IdParametro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDetParametro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
