@model IEnumerable<Triunfo.Core.Domain.Persona>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Manejo de Personas</h1>

<p style="text-align:right">
    <a class="btn btn-success" asp-action="Create">Create New</a>
    <a class="btn btn-secondary" style="float:left" href="../Home/MenuListar"> << Back</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoDocPersona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumDocPersona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePersona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoPersona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoPersona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoPersona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDocPersonaNavigation.ValorStringDetParametro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumDocPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>

            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdPersona">Details</a> |
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdPersona">Edit</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdPersona">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
