@model Triunfo.Core.Domain.FacturaCabecera

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FacturaCabecera</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.ApellidoPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVendedorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVendedorNavigation.ApellidoPersona)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdFactura">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
