@model IEnumerable<Triunfo.Core.Domain.FacturaCabecera>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Manejo de las Cabeceras de Factura</h1>

<p style="text-align:right">
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdVendedorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.ApellidoPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVendedorNavigation.ApellidoPersona)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdFactura">Details</a> |
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdFactura">Edit</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdFactura">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
